
  
<section >
  <div class="books_template">
    <div class="books_background">

      {{#each books}}
        <div class="book" id="main" >
          
          <div class="book_img" style="width:100%;">
            <a href="/view-product/{{this._id}}"><img
                src="{{this.img_link}}"
              /></a>
          </div>
          <div class="book_content">
            <div class="book_title">{{this.title}}</div>
            <div class="book_author"><span>by</span>~ {{this.author}}</div>
            <div class="genre"><span style="font-size: 16px">Genre</span> : {{this.genre}}</div>
            
            
          </div>
          
        </div>
        
      {{/each}}
    </div>
  </div>
</section>
